In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("youtube-top-100-songs-2025 (4).csv")

In [3]:
df.head()

,title,fulltitle,description,view_count,categories,tags,duration,duration_string,live_status,thumbnail,channel,channel_url,channel_follower_count
0,ROSÉ & Bruno Mars - APT. (Official Music Video),ROSÉ & Bruno Mars - APT. (Official Music Video),ROSÉ & Bruno Mars - APT.\nDownload/stream: ht...,2009014557,Music,YG Entertainment;YG;와이지;K-pop;BLACKPINK;블랙핑크;블...,173,2:53,False,https://i.ytimg.com/vi_webp/ekr2nIex040/maxres...,ROSÉ,https://www.youtube.com/channel/UCBo1hnzxV9rz3...,19200000
1,"Lady Gaga, Bruno Mars - Die With A Smile (Offi...","Lady Gaga, Bruno Mars - Die With A Smile (Offi...",MAYHEM OUT NOW\nhttp://ladygaga.com \n \nListe...,1324833300,Music,Lady Gaga;Bruno Mars;Interscope;Pop,252,4:12,False,https://i.ytimg.com/vi/kPa7bsKwL-c/maxresdefau...,Lady Gaga,https://www.youtube.com/channel/UC07Kxew-cMIay...,29600000
2,Reneé Rapp - Leave Me Alone (Official Music Vi...,Reneé Rapp - Leave Me Alone (Official Music Vi...,"Listen to “BITE ME”, the new album from Reneé ...",2536628,Music,Reneé Rapp;Interscope Records;Pop,160,2:40,False,https://i.ytimg.com/vi/tiPWzFLiz4A/maxresdefau...,Reneé Rapp,https://www.youtube.com/channel/UCZy4ki_L4bzw9...,408000
3,Billie Eilish - BIRDS OF A FEATHER (Official M...,Billie Eilish - BIRDS OF A FEATHER (Official M...,Listen to HIT ME HARD AND SOFT: https://billie...,558329099,Music,Billie Eilish;Darkroom/Interscope Records;Alte...,231,3:51,False,https://i.ytimg.com/vi/V9PVRfjEBTI/maxresdefau...,Billie Eilish,https://www.youtube.com/channel/UCDGmojLIoWpXo...,56800000
4,Reneé Rapp - Mad (Official Music Video),Reneé Rapp - Mad (Official Music Video),"Listen to “BITE ME”, the new album from Reneé ...",2113548,Music,Reneé Rapp;Interscope Records;Pop,180,3:00,False,https://i.ytimg.com/vi/xkWQM3flsiY/maxresdefau...,Reneé Rapp,https://www.youtube.com/channel/UCZy4ki_L4bzw9...,408000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   100 non-null    object
 1   fulltitle               100 non-null    object
 2   description             100 non-null    object
 3   view_count              100 non-null    int64
 4   categories              100 non-null    object
 5   tags                    85 non-null     object
 6   duration                100 non-null    int64
 7   duration_string         100 non-null    object
 8   live_status             100 non-null    bool
 9   thumbnail               100 non-null    object
 10  channel                 100 non-null    object
 11  channel_url             100 non-null    object
 12  channel_follower_count  100 non-null    int64
dtypes: bool(1), int64(3), object(9)
memory usage: 9.6+ KB

In [5]:
df["categories"].unique()

array(['Music', 'People & Blogs'], dtype=object)

# Data Preprocassing

In [6]:
import pandas as pd

class Cleaner:
    def __init__(self, df):
        self.df = df

    def tozala(self):
        for col in self.df.columns:
            if self.df[col].isnull().any():
                if self.df[col].dtype == 'object':
                    self.df[col] = self.df[col].fillna(self.df[col].mode()[0])
                else:
                    self.df[col] = self.df[col].fillna(self.df[col].mean())
        return self

    def get_df(self):
        return self.df

In [7]:
cleaner = Cleaner(df)       
cleaned_df = cleaner.tozala().get_df()

In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

class Encoder:
    def __init__(self, df):
        self.df = df.copy()  # asl df ni o'zgartirmaslik uchun nusxa
        self.label_encoders = {}  # har ustun uchun alohida encoder saqlaymiz

    def encodla(self):
        for col in self.df.columns:
            if self.df[col].dtype == 'object':
                # NaN qiymatlarni 'missing' bilan to'ldiramiz
                self.df[col] = self.df[col].fillna('missing')
                
                if self.df[col].nunique() <= 5:
                    dummies = pd.get_dummies(self.df[col], prefix=col, dtype=int)
                    self.df = pd.concat([self.df.drop(columns=[col]), dummies], axis=1)
                else:
                    le = LabelEncoder()
                    self.df[col] = le.fit_transform(self.df[col])
                    self.label_encoders[col] = le  # keyinchalik kerak bo'lishi uchun saqlaymiz
        return self

    def get_df(self):
        return self.df

In [11]:
encoder = Encoder(df)
encoder.encodla()
df_encoded = encoder.get_df()
print(df_encoded.head())
print(df_encoded.dtypes)

   title  fulltitle  description  view_count  tags  duration  duration_string  \
0     58         58           66  2009014557    47       173               16
1     45         45           48  1324833300    21       252               57
2     62         62           42     2536628    31       160                9
3      8          8           33   558329099     4       231               48
4     63         63           43     2113548    31       180               21

   live_status  thumbnail  channel  channel_url  channel_follower_count  \
0        False         88       40           15                19200000
1        False         51       29            2                29600000
2        False         61       42           43                  408000
3        False         31        4           18                56800000
4        False         69       42           43                  408000

   categories_Music  categories_People & Blogs
0                 1                          0
1                 1                          0
2                 1                          0
3                 1                          0
4                 1                          0
title                        int64
fulltitle                    int64
description                  int64
view_count                   int64
tags                         int64
duration                     int64
duration_string              int64
live_status                   bool
thumbnail                    int64
channel                      int64
channel_url                  int64
channel_follower_count       int64
categories_Music             int64
categories_People & Blogs    int64
dtype: object

In [14]:
df = df_encoded

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      100 non-null    int64
 1   fulltitle                  100 non-null    int64
 2   description                100 non-null    int64
 3   view_count                 100 non-null    int64
 4   tags                       100 non-null    int64
 5   duration                   100 non-null    int64
 6   duration_string            100 non-null    int64
 7   live_status                100 non-null    bool
 8   thumbnail                  100 non-null    int64
 9   channel                    100 non-null    int64
 10  channel_url                100 non-null    int64
 11  channel_follower_count     100 non-null    int64
 12  categories_Music           100 non-null    int64
 13  categories_People & Blogs  100 non-null    int64
dtypes: bool(1), int64(13)
memory usage: 10.4 KB

In [16]:
df['live_status'] = df['live_status'].astype(int)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      100 non-null    int64
 1   fulltitle                  100 non-null    int64
 2   description                100 non-null    int64
 3   view_count                 100 non-null    int64
 4   tags                       100 non-null    int64
 5   duration                   100 non-null    int64
 6   duration_string            100 non-null    int64
 7   live_status                100 non-null    int64
 8   thumbnail                  100 non-null    int64
 9   channel                    100 non-null    int64
 10  channel_url                100 non-null    int64
 11  channel_follower_count     100 non-null    int64
 12  categories_Music           100 non-null    int64
 13  categories_People & Blogs  100 non-null    int64
dtypes: int64(14)
memory usage: 11.1 KB

In [18]:
df.head()

,title,fulltitle,description,view_count,tags,duration,duration_string,live_status,thumbnail,channel,channel_url,channel_follower_count,categories_Music,categories_People & Blogs
0,58,58,66,2009014557,47,173,16,0,88,40,15,19200000,1,0
1,45,45,48,1324833300,21,252,57,0,51,29,2,29600000,1,0
2,62,62,42,2536628,31,160,9,0,61,42,43,408000,1,0
3,8,8,33,558329099,4,231,48,0,31,4,18,56800000,1,0
4,63,63,43,2113548,31,180,21,0,69,42,43,408000,1,0

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

class Scaler:
    def __init__(self, df):
        self.df = df
        self.scaler = StandardScaler()

    def scaling_qil(self):
        numeric_cols = self.df.select_dtypes(include=['int64']).columns
        self.df[numeric_cols] = pd.DataFrame(
            self.scaler.fit_transform(self.df[numeric_cols]),
            columns=numeric_cols,
            index=self.df.index
        )
        return self

    def get_df(self):
        return self.df

In [20]:
scaler = Scaler(df)       
scaler_df = scaler.scaling_qil().get_df()

In [21]:
df.head()

,title,fulltitle,description,view_count,tags,duration,duration_string,live_status,thumbnail,channel,channel_url,channel_follower_count,categories_Music,categories_People & Blogs
0,0.294463,0.294463,0.571605,7.678003,0.567008,-0.701655,-0.840467,0.0,1.333746,0.417076,-0.714156,0.156302,0.252646,-0.252646
1,-0.155892,-0.155892,-0.051964,4.917699,-0.728441,1.092220,1.309199,0.0,0.051964,-0.182641,-1.346153,0.684191,0.252646,-0.252646
2,0.433034,0.433034,-0.259821,-0.417057,-0.230191,-0.996850,-1.207483,0.0,0.398392,0.526116,0.647067,-0.797551,0.252646,-0.252646
3,-1.437674,-1.437674,-0.571605,1.825267,-1.575465,0.615367,0.837321,0.0,-0.640891,-1.545636,-0.568311,2.064822,0.252646,-0.252646
4,0.467677,0.467677,-0.225178,-0.418764,-0.230191,-0.542704,-0.578313,0.0,0.675534,0.526116,0.647067,-0.797551,0.252646,-0.252646

In [23]:
df.to_csv("Data_preprocessed")

In [25]:
df=pd.read_csv("Data_preprocessed")

In [26]:
df

,Unnamed: 0,title,fulltitle,description,view_count,tags,duration,duration_string,live_status,thumbnail,channel,channel_url,channel_follower_count,categories_Music,categories_People & Blogs
0,0,0.294463,0.294463,0.571605,7.678003,0.567008,-0.701655,-0.840467,0.0,1.333746,0.417076,-0.714156,0.156302,0.252646,-0.252646
1,1,-0.155892,-0.155892,-0.051964,4.917699,-0.728441,1.092220,1.309199,0.0,0.051964,-0.182641,-1.346153,0.684191,0.252646,-0.252646
2,2,0.433034,0.433034,-0.259821,-0.417057,-0.230191,-0.996850,-1.207483,0.0,0.398392,0.526116,0.647067,-0.797551,0.252646,-0.252646
3,3,-1.437674,-1.437674,-0.571605,1.825267,-1.575465,0.615367,0.837321,0.0,-0.640891,-1.545636,-0.568311,2.064822,0.252646,-0.252646
4,4,0.467677,0.467677,-0.225178,-0.418764,-0.230191,-0.542704,-0.578313,0.0,0.675534,0.526116,0.647067,-0.797551,0.252646,-0.252646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,-1.541602,-1.541602,1.472317,-0.353681,-1.724940,-0.043144,0.208151,0.0,0.640891,-1.654676,-1.200307,2.044519,0.252646,-0.252646
96,96,-0.779462,-0.779462,-0.294463,-0.300380,-1.127040,0.683489,0.889752,0.0,0.467677,-0.673320,0.306761,-0.728418,0.252646,-0.252646
97,97,-0.710176,-0.710176,-0.918033,-0.427025,-0.130541,-0.156680,0.050858,0.0,0.848747,-0.618800,1.619370,-0.817230,0.252646,-0.252646
98,98,0.883390,0.883390,0.814105,-0.358896,0.018933,-1.110386,-1.417207,0.0,1.541602,0.853235,1.230449,-0.554317,0.252646,-0.252646
99,99,0.918033,0.918033,-0.363749,-0.358821,0.168408,-0.974142,-1.155052,0.0,-1.610888,0.907755,1.133218,0.983666,0.252646,-0.252646

In [27]:
X = df.drop('categories_Music', axis=1)
y = df['categories_Music']

In [28]:
from sklearn.model_selection import train_test_split       

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("📌 Linear Regression natijalari:")
print(f"MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAE: {mae:.4f}, R2: {r2:.4f}")

📌 Linear Regression natijalari:
MSE: 0.0000, RMSE: 0.0000, MAE: 0.0000, R2: 1.0000

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

models = {
    "Linear Regression": LinearRegression(),
    "KNeighbors Regressor": KNeighborsRegressor(),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Support Vector Regressor": SVR()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f"📌 {name} natijalari:")
    print(f"MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAE: {mae:.4f}, R2: {r2:.4f}\n")

📌 Linear Regression natijalari:
MSE: 0.0000, RMSE: 0.0000, MAE: 0.0000, R2: 1.0000

📌 KNeighbors Regressor natijalari:
MSE: 0.8865, RMSE: 0.9416, MAE: 0.2948, R2: 0.4444

📌 Decision Tree Regressor natijalari:
MSE: 0.0000, RMSE: 0.0000, MAE: 0.0000, R2: 1.0000

📌 Random Forest Regressor natijalari:
MSE: 0.0648, RMSE: 0.2546, MAE: 0.0863, R2: 0.9594

📌 Support Vector Regressor natijalari:
MSE: 1.6695, RMSE: 1.2921, MAE: 0.4967, R2: -0.0462