In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('liver_cirrhosis.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  int64
 1   Status         25000 non-null  object
 2   Drug           25000 non-null  object
 3   Age            25000 non-null  int64
 4   Sex            25000 non-null  object
 5   Ascites        25000 non-null  object
 6   Hepatomegaly   25000 non-null  object
 7   Spiders        25000 non-null  object
 8   Edema          25000 non-null  object
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
 18  Stage          25000 non-null  int64
dtypes: float64(9), int64(3), object(7)
memory usage: 3.6+ MB

In [4]:
df.head(20)

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.000000,4.04,227.000000,598.000000,52.700000,57.000000,256.00000,9.900000,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.000000,3.93,22.000000,663.000000,45.000000,75.000000,220.00000,10.800000,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.000000,3.54,51.000000,1243.000000,122.450000,80.000000,225.00000,10.000000,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.000000,3.74,23.000000,1024.000000,77.500000,58.000000,151.00000,10.200000,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.000000,3.54,74.000000,1052.000000,108.500000,109.000000,151.00000,11.500000,1
5,4427,C,Placebo,16418,F,N,N,N,N,1.9,259.000000,3.70,281.000000,10396.800000,188.340000,178.000000,327.00000,10.400000,2
6,1418,C,Placebo,23011,F,Y,N,Y,N,1.3,291.000000,3.44,75.000000,1082.000000,85.000000,195.000000,156.00000,10.300000,2
7,51,D,Placebo,24107,F,Y,N,Y,Y,12.6,200.000000,2.74,140.000000,918.000000,147.250000,143.000000,150.00000,11.100000,3
8,2504,C,Placebo,15265,F,N,N,N,N,2.3,369.510563,3.93,24.000000,1828.000000,133.300000,124.702128,474.00000,10.900000,1
9,1012,D,Placebo,22280,M,Y,N,Y,S,1.4,176.000000,3.48,210.000000,516.000000,96.100000,55.000000,259.00000,10.100000,3
10,1149,C,Placebo,11167,M,N,N,N,N,0.8,271.000000,3.56,52.000000,955.000000,130.000000,177.000000,344.00000,10.500000,1
11,1037,D,Placebo,16802,F,Y,Y,Y,N,16.2,369.510563,2.89,42.000000,1828.000000,299.150000,124.702128,419.00000,10.731731,1
12,1234,C,Placebo,16071,F,Y,N,Y,N,6.4,373.000000,3.46,155.000000,1768.000000,120.000000,151.000000,258.00000,10.600000,3
13,2504,C,Placebo,18263,F,Y,N,Y,N,0.5,120.000000,3.41,53.000000,804.000000,110.050000,52.000000,277.00000,10.200000,1
14,334,D,Placebo,17532,F,Y,N,Y,Y,14.1,448.000000,2.43,123.000000,1833.000000,134.000000,155.000000,257.02457,12.200000,3
15,733,D,Placebo,16154,F,N,Y,Y,N,14.0,808.000000,3.43,251.000000,2870.000000,153.450000,137.000000,418.00000,11.500000,2
16,1581,C,Placebo,25202,F,Y,N,Y,N,0.7,369.510563,3.06,97.648387,1982.655769,122.556346,124.702128,165.00000,10.000000,3
17,1443,C,Placebo,14975,M,Y,N,Y,N,1.2,369.510563,2.80,97.648387,1982.655769,122.556346,124.702128,92.00000,11.000000,1
18,3823,C,Placebo,13514,F,Y,N,Y,N,1.0,239.000000,3.77,77.000000,1877.000000,97.650000,101.000000,76.00000,10.200000,1
19,3170,D,Placebo,18263,F,Y,N,Y,N,0.8,210.000000,3.19,82.000000,1592.000000,218.550000,113.000000,384.00000,10.000000,2

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()


def encodlash(df):
    for col in df.columns:
        if df[col].dtype=="object":
            if df[col].nunique()<=5:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df = pd.concat([df.drop(columns=[col]), dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])
    return df

In [6]:
df=encodlash(df)

In [7]:
df.head()

,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,...,Sex_M,Ascites_N,Ascites_Y,Hepatomegaly_N,Hepatomegaly_Y,Spiders_N,Spiders_Y,Edema_N,Edema_S,Edema_Y
0,2221,18499,0.5,149.0,4.04,227.0,598.0,52.70,57.0,256.0,...,0,1,0,0,1,1,0,1,0,0
1,1230,19724,0.5,219.0,3.93,22.0,663.0,45.00,75.0,220.0,...,1,0,1,1,0,0,1,1,0,0
2,4184,11839,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,...,0,1,0,1,0,1,0,1,0,0
3,2090,16467,0.7,255.0,3.74,23.0,1024.0,77.50,58.0,151.0,...,0,1,0,1,0,1,0,1,0,0
4,2105,21699,1.9,486.0,3.54,74.0,1052.0,108.50,109.0,151.0,...,0,1,0,0,1,1,0,1,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   N_Days                25000 non-null  int64
 1   Age                   25000 non-null  int64
 2   Bilirubin             25000 non-null  float64
 3   Cholesterol           25000 non-null  float64
 4   Albumin               25000 non-null  float64
 5   Copper                25000 non-null  float64
 6   Alk_Phos              25000 non-null  float64
 7   SGOT                  25000 non-null  float64
 8   Tryglicerides         25000 non-null  float64
 9   Platelets             25000 non-null  float64
 10  Prothrombin           25000 non-null  float64
 11  Stage                 25000 non-null  int64
 12  Status_C              25000 non-null  int64
 13  Status_CL             25000 non-null  int64
 14  Status_D              25000 non-null  int64
 15  Drug_D-penicillamine  25000 non-null  int64
 16  Drug_Placebo          25000 non-null  int64
 17  Sex_F                 25000 non-null  int64
 18  Sex_M                 25000 non-null  int64
 19  Ascites_N             25000 non-null  int64
 20  Ascites_Y             25000 non-null  int64
 21  Hepatomegaly_N        25000 non-null  int64
 22  Hepatomegaly_Y        25000 non-null  int64
 23  Spiders_N             25000 non-null  int64
 24  Spiders_Y             25000 non-null  int64
 25  Edema_N               25000 non-null  int64
 26  Edema_S               25000 non-null  int64
 27  Edema_Y               25000 non-null  int64
dtypes: float64(9), int64(19)
memory usage: 5.3 MB

In [11]:
num_col = df.select_dtypes(include=["int64","float64"]).columns.drop("Bilirubin")

In [13]:
num_col

Index(['N_Days', 'Age', 'Cholesterol', 'Albumin', 'Copper', 'Alk_Phos', 'SGOT',
       'Tryglicerides', 'Platelets', 'Prothrombin', 'Stage', 'Status_C',
       'Status_CL', 'Status_D', 'Drug_D-penicillamine', 'Drug_Placebo',
       'Sex_F', 'Sex_M', 'Ascites_N', 'Ascites_Y', 'Hepatomegaly_N',
       'Hepatomegaly_Y', 'Spiders_N', 'Spiders_Y', 'Edema_N', 'Edema_S',
       'Edema_Y'],
      dtype='object')

In [14]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

In [15]:
st_scaler = StandardScaler()
mm_scaler = MinMaxScaler()
rs_scaler = RobustScaler()

In [22]:
df["Age"] = mm_scaler.fit_transform(df[["Age"]])

In [18]:
df["N_Days"] = mm_scaler.fit_transform(df[["N_Days"]])

In [ ]:
df["Tryglicerides"] = rs_scaler.fit_transform(df[["Tryglicerides"]])

In [20]:
df["Tryglicerides"] = mm_scaler.fit_transform(df[["Tryglicerides"]])

In [23]:
df

,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,...,Sex_M,Ascites_N,Ascites_Y,Hepatomegaly_N,Hepatomegaly_Y,Spiders_N,Spiders_Y,Edema_N,Edema_S,Edema_Y
0,0.458561,0.467195,0.5,149.000000,4.04,227.0,598.0,52.70,0.042478,256.0,...,0,1,0,0,1,1,0,1,0,0
1,0.250105,0.531493,0.5,219.000000,3.93,22.0,663.0,45.00,0.074336,220.0,...,1,0,1,1,0,0,1,1,0,0
2,0.871477,0.117625,0.5,320.000000,3.54,51.0,1243.0,122.45,0.083186,225.0,...,0,1,0,1,0,1,0,1,0,0
3,0.431005,0.360540,0.7,255.000000,3.74,23.0,1024.0,77.50,0.044248,151.0,...,0,1,0,1,0,1,0,1,0,0
4,0.434161,0.635156,1.9,486.000000,3.54,74.0,1052.0,108.50,0.134513,151.0,...,0,1,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.745267,0.735566,0.8,231.000000,3.87,173.0,9009.8,127.71,0.111504,295.0,...,0,1,0,1,0,1,0,1,0,0
24996,0.745267,0.735566,0.8,231.000000,3.87,173.0,9009.8,127.71,0.111504,295.0,...,0,1,0,1,0,1,0,1,0,0
24997,0.195625,0.374659,5.1,369.510563,3.23,18.0,790.0,179.80,0.162305,104.0,...,0,1,0,0,1,0,1,0,0,1
24998,0.771140,0.387991,0.8,315.000000,4.24,13.0,1637.0,170.50,0.065487,426.0,...,0,1,0,0,1,1,0,1,0,0
24999,0.771140,0.387991,0.8,315.000000,4.24,13.0,1637.0,170.50,0.065487,426.0,...,0,1,0,0,1,1,0,1,0,0

In [28]:
from sklearn.preprocessing import RobustScaler
robust_scaler = RobustScaler()
def scalinglash(df):
    num_col = df.select_dtypes(include=["int64","float64"]).columns.drop("Bilirubin")
    df[num_col] = robust_scaler.fit_transform(df[num_col])


    return df

In [30]:
scalinglash(df)

,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,...,Sex_M,Ascites_N,Ascites_Y,Hepatomegaly_N,Hepatomegaly_Y,Spiders_N,Spiders_Y,Edema_N,Edema_S,Edema_Y
0,0.361631,0.000000,0.5,-2.333184,1.152174,2.351848,-1.293844,-1.630253,-1.934347,0.040984,...,0.000000,0.0,0.0,-1.0,1.0,0.0,0.0,0.000000,0.0,0.000000
1,-0.300802,0.232845,0.5,-1.592526,0.913043,-1.375425,-1.225470,-1.809950,-1.420061,-0.254098,...,3.140291,-1.0,1.0,0.0,0.0,-1.0,1.0,0.000000,0.0,0.000000
2,1.673797,-1.265919,0.5,-0.523863,0.065217,-0.848152,-0.615365,-0.002482,-1.277204,-0.213115,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3,0.274064,-0.386238,0.7,-1.211617,0.500000,-1.357243,-0.845732,-1.051490,-1.905775,-0.819672,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
4,0.284091,0.608249,1.9,1.232555,0.065217,-0.429971,-0.816279,-0.328036,-0.448632,-0.819672,...,0.000000,0.0,0.0,-1.0,1.0,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,1.272727,0.971868,0.8,-1.465556,0.782609,1.370029,7.554575,0.120272,-0.820061,0.360656,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
24996,1.272727,0.971868,0.8,-1.465556,0.782609,1.370029,7.554575,0.120272,-0.820061,0.360656,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
24997,-0.473930,-0.335107,5.1,0.000000,-0.608696,-1.448152,-1.091878,1.335908,0.000000,-1.204918,...,0.000000,0.0,0.0,-1.0,1.0,-1.0,1.0,-2.542936,0.0,4.914326
24998,1.354947,-0.286828,0.8,-0.576767,1.586957,-1.539062,-0.200914,1.118872,-1.562918,1.434426,...,0.000000,0.0,0.0,-1.0,1.0,0.0,0.0,0.000000,0.0,0.000000
24999,1.354947,-0.286828,0.8,-0.576767,1.586957,-1.539062,-0.200914,1.118872,-1.562918,1.434426,...,0.000000,0.0,0.0,-1.0,1.0,0.0,0.0,0.000000,0.0,0.000000